@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

/* All Styling */
* {
  margin: 0%;
  padding: 0%;
  font-family: Roboto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

.element::-webkit-scrollbar { width: 0 !important }

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

/* The Navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

/* Logo Styling */
.logo {
  width: 75px;
  margin: 15px 0;
}

nav {
    flex: 1;
    margin: 15px 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffc107;
}