* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu {
    width: 25px;
    display: flex;
    justify-content: flex-end;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffc107;
}

.main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}