@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

/* All Styling */
* {
  margin: 0%;
  padding: 0%;
  font-family: Roboto;
  background-color: rgb(255, 255, 255);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

/* Hides The Scrollbar */
.element::-webkit-scrollbar { width: 0 !important }

::-webkit-scrollbar {
  display: none;
}

/* Main Container */
.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

/* The Navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

/* Logo Styling */
.logo {
  width: 75px;
  margin: 15px 0;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ffc107;
}

/* Main Content Styling */
.main {
  width: 100%;
  height: 650%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
  margin-top: 100px;
  margin-bottom: 100px;
  transform: translateY(50%);
}

.main h1 {
  font-size: 100px;
  font-family: "Roboto Bold 700 italic";
}

.main .LearnMore {
  font-family: "Roboto Bold 700 italic";
  font-size: 30px;
  color: #151d21;
  background: #ffc107;
  padding: 6px;
  margin-top: 30px;
  margin-right: 5%;
  margin-left: 5%;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.more {
  width: 100%;
  height: 650%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
  transform: translateY(100%);
  display: block;
}

section {
  text-align: center;
}