@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0%;
    padding: 0%;
    font-family: Roboto;
    background-color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.logo {
    width: 75px;
    margin: 15px 0;
}

.menu {
    width: 25px;
    display: flex;
    justify-content: flex-end;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffc107;
}

.main {
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}